<%= image_tag("home.png", class: "rounded-lg", width: "100%")%>
<h1 class="font-semibold text-4xl ">We sell all from your dreams!</h1>
<% if user_signed_in? %>
  <%= button_to "Log out", destroy_user_session_path, method: :delete, class:"btn-gradient"%>
<% else%>
  <%= link_to new_user_registration_path do %>
    <button type="button" class="btn-gradient">
        Sign up
   </button>
  <% end %>
  <%= link_to new_user_session_path do %>
    <button type="button" class="btn-gradient">
     Sign in
    </button>
  <% end %>
<% end %>
