<div class="order">

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <%= link_to order.status, order_path(order) %>
                </th>
                <td class="px-6 py-4">
                    <%= link_to order.ordered_at, order_path(order) %>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</div>