<div class="order">

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-lg text-center text-gray-500 dark:text-gray-400">
        <tbody>
            <tr class="bg-amber-300  border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <%= link_to category.name, category_path(category) %>
                </th>
            </tr>
        </tbody>
    </table>
</div>

