<div class="max-w-5xl mx-auto">
  <% @categories.each do |category| %>
    <div class="my-7 text-center mx-5 bg-amber-100 py-3 inline-flex flex-col rounded-lg shadow flex-wrap w-80 h-44">
      <p class="py-3 text-xl font-bold w-2/5 m-auto"><%= category.name %></p>
      <p class="py-3 text-sm  w-2/5 m-auto"><%= category.description %></p>
      <%= link_to "Show", category, class: "text-white h-14 bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-xl px-3 py-4 text-center mr-3 mb-2"  %>
    </div>
  <% end %>
</div>
