<main class="container">
  <div class="header">
    <table>
    <thead class="text-3xl font-normal text-gray-900 dark:text-white text-amber-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" >
                   <div class="top-0 right-0"> Category name</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-amber-300  border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href="http://localhost:3000/categories/show_1_category">Laptops</a>
                </th>
            </tr>
            <tr class="bg-amber-300  border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   <a href=" http://localhost:3000/categories/show_2_category">Vegetables</a>
                </th>
            </tr>
            <tr class="bg-amber-300  border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href=" http://localhost:3000/categories/show_3_category">Home </a>
                </th>
            </tr>
            <tr class="bg-amber-300  border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href=" http://localhost:3000/categories/show_4_category">TV</a>
                </th>
            </tr>
            <tr class="bg-amber-300  border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href=" http://localhost:3000/categories/show_5_category">Lamps</a>
                </th>
            </tr>
            <tr class="bg-amber-300  border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href=" http://localhost:3000/categories/show_6_category">Clocks</a>
                </th>
            </tr>
            <tr class="bg-amber-300  border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href=" http://localhost:3000/categories/show_7_category">Gloves</a>
                </th>
            </tr>
            <tr class="bg-amber-300  border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href=" http://localhost:3000/categories/show_8_category">Shoes</a>
                </th>
            </tr>
            <tr class="bg-amber-300  border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href=" http://localhost:3000/categories/show_9_category">Cars</a>
                </th>
            </tr>
            <tr class="bg-amber-300  border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href=" http://localhost:3000/categories/show_10_category">Laptops</a>
                </th>
            </tr>
        </tbody>
  </table>

  </main>
           