<div class="max-w-5xl mx-auto">
  <% @categories.each do |category| %>
    <div class="my-7 text-center mx-5 bg-amber-100 py-3 inline-flex flex-col rounded-lg shadow flex-wrap w-80 h-44">
      <p class="py-3 text-xl font-bold w-2/5 m-auto"><%= category.name %></p>
      <p class="py-3 text-sm  w-2/5 m-auto"><%= category.description %></p>
      <%= link_to "Show", category, class: "btn-green"%>
    </div>
  <% end %>
</div>
