<table>
    <thead class="text-2xl text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-16 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    Position
                </th>
            </tr>
        </thead>
  <tbody>
            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Aerodynamic Silk Table
                </th>
                <td class="px-40 py-4">
                    14.21
                </td>
                <td class="px-50 py-4">
                    Surprisingly this product is made out of pure Cotton.
                </td>
                <td class="px-6 py-4">
                    21
                </td>
            </tr>
            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Fantastic Granite Bag
                </th>
                <td class="px-40 py-4">
                    16.13
                </td>
                <td class="px-50 py-4">
                    Surprisingly this product is made out of pure Iron.
                </td>
                <td class="px-6 py-4">
                    54
                </td>
            </tr>

            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Practical Rubber Knife
                </th>
                <td class="px-40 py-4">
                    4.94
                </td>
                <td class="px-50 py-4">
                    Surprisingly this product is made out of pure Copper.
                </td>
                <td class="px-6 py-4">
                    29
                </td>
            </tr>
            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Small Linen Watch
                </th>
                <td class="px-40 py-4">
                    81.69
                </td>
                <td class="px-50 py-4">
                    Surprisingly this product is made out of pure Woode.
                </td>
                <td class="px-6 py-4">
                    93
                </td>
            </tr>
            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Synergistic Silk Car
                </th>
                <td class="px-40 py-4">
                    11.21
                </td>
                <td class="px-50 py-4">
                    Surprisingly this product is made out of pure Leather.
                </td>
                <td class="px-6 py-4">
                    86
                </td>
            </tr>
            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Enormous Cotton Shoes
                </th>
                <td class="px-40 py-4">
                    86.29
                </td>
                <td class="px-50 py-4">
                    Surprisingly this product is made out of pure Iron.
                </td>
                <td class="px-6 py-4">
                    37
                </td>
            </tr>
          
        </tbody>
    </table>