<table>
    <thead class="text-2xl text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-16 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    Position
                </th>
            </tr>
        </thead>
  <tbody>
            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    HP Omen 15r-004
                </th>
                <td class="px-40 py-4">
                    45000.0
                </td>
                <td class="px-50 py-4">
                    Good laptop
                </td>
                <td class="px-6 py-4">
                    2
                </td>
            </tr>
            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Asus Vivobook
                </th>
                <td class="px-40 py-4">
                    35000.0
                </td>
                <td class="px-50 py-4">
                    Nice laptop
                </td>
                <td class="px-6 py-4">
                    3
                </td>
            </tr>

            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Fantastic Aluminum Computer
                </th>
                <td class="px-40 py-4">
                    3.18
                </td>
                <td class="px-50 py-4">
                    Surprisingly this product is made out of pure Cotton.
                </td>
                <td class="px-6 py-4">
                    48
                </td>
            </tr>
            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Sleek Rubber Bench
                </th>
                <td class="px-40 py-4">
                    39.67
                </td>
                <td class="px-50 py-4">
                    Surprisingly this product is made out of pure Wooden.
                </td>
                <td class="px-6 py-4">
                    10
                </td>
            </tr>
            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Small Bronze Wallet
                </th>
                <td class="px-40 py-4">
                    3.18
                </td>
                <td class="px-50 py-4">
                    Surprisingly this product is made out of pure Leather.
                </td>
                <td class="px-6 py-4">
                    89
                </td>
            </tr>
            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Fantastic Iron Table
                </th>
                <td class="px-40 py-4">
                    3.18
                </td>
                <td class="px-50 py-4">
                    Surprisingly this product is made out of pure Paper.
                </td>
                <td class="px-6 py-4">
                    70
                </td>
            </tr>
          
        </tbody>
    </table>