<table>
    <thead class="text-2xl text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-16 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    Position
                </th>
            </tr>
        </thead>
  <tbody>
            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Rustic Copper Bench
                </th>
                <td class="px-40 py-4">
                    47.73
                </td>
                <td class="px-50 py-4">
                    Surprisingly this product is made out of pure Marble.
                </td>
                <td class="px-6 py-4">
                    19
                </td>
            </tr>
            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Heavy Duty Aluminum Plate
                </th>
                <td class="px-40 py-4">
                    27.31
                </td>
                <td class="px-50 py-4">
                    Surprisingly this product is made out of pure Cotton.
                </td>
                <td class="px-6 py-4">
                    22
                </td>
            </tr>

            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Gorgeous Silk Pants
                </th>
                <td class="px-40 py-4">
                    4.94
                </td>
                <td class="px-50 py-4">
                    Surprisingly this product is made out of pure Aluminum.
                </td>
                <td class="px-6 py-4">
                    42
                </td>
            </tr>
            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Intelligent Steel Shirt
                </th>
                <td class="px-40 py-4">
                    38.92
                </td>
                <td class="px-50 py-4">
                    Surprisingly this product is made out of pure Iron.
                </td>
                <td class="px-6 py-4">
                    26
                </td>
            </tr>
            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Mediocre Rubber Bench
                </th>
                <td class="px-40 py-4">
                    11.21
                </td>
                <td class="px-50 py-4">
                    Surprisingly this product is made out of pure Granite.
                </td>
                <td class="px-6 py-4">
                    86
                </td>
            </tr>
            <tr class="bg-lime-500 text-xl border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-0 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Sleek Rubber Lamp
                </th>
                <td class="px-40 py-4">
                    81.69
                </td>
                <td class="px-50 py-4">
                    Surprisingly this product is made out of pure Granite..
                </td>
                <td class="px-6 py-4">
                    93
                </td>
            </tr>
          
        </tbody>
    </table>