<div class="product">
  <%= link_to product.name, product_path(product) %>
  <%= link_to product.price, product_path(product) %>
  <%= link_to product.description, product_path(product) %>
  <%= link_to product.position, product_path(product) %>
</div>