
<main class="container">
  <div class="header">
    <h1>Products</h1>
    <%= link_to "",
                new_product_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @products %>
</main>