<main class="container">
  <a href="http://localhost:3000/categories"> <button type="button" class="focus:outline-none text-white bg-amber-700 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-lg px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900">Choose category</button>

 <br><br><br>
  <div class="header">
    <table>
    <thead class="text-2xl text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-36 py-3">
                    Price
                </th>
                <th scope="col" class="px-20 py-3">
                    Description
                </th>
                <th scope="col" class="px-24 py-3">
                    Category
                </th>
                <th scope="col" class="px-4 py-3">
                    Position
                </th>
                <th scope="col" class="px-20 py-3">
                    Action
                </th>
            </tr>
        </thead>
  </table>
    <%= link_to "",
                new_product_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @products %>
</main>