<header class="bg-sky-300 h-24 relative"> 
  <h1 class="font-bold text-4xl drop-shadow-lg text-white tracking-wide font-mono pt-6 pl-4">Proshop</h1>
  <a href="http://localhost:3000/"><h2 class="font-bold text-2xl drop-shadow-lg text-slate-800 font-mono absolute top-7 right-1/2">Home</h2></a>
  <a href="http://localhost:3000/products"><h2 class="font-bold text-2xl drop-shadow-lg text-slate-800 font-mono absolute top-7 right-1/3">Products</h2></a>
  <a href="http://localhost:3000/orders"><h2 class="font-bold text-4xl drop-shadow-lg text-slate-800 font-mono absolute right-64 top-7">🛒</h2></a>

  <%- if user_signed_in? %>
  <%= link_to t('nav.logout'), destroy_user_session_path, class: "nav-link", data: { turbo_method: :delete }, class: "text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5  mr-2 mb-2 top-0 right-0 " %>
  <% else%>
  <%= link_to new_user_registration_path do %>
     <button type="button" class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5  mr-2 mb-2 ">Sign up</button>
  <% end %>
  <%= link_to new_user_session_path do %>
     <button type="button" class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5  mr-2 mb-2 ">Sign in</button>
  <% end %>
  <% end %>
</header>